<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
</head>

<body>
    <button style="margin-left: 75em;"  id="removeEventButton">Remove Last Selected Event</button>
    <div id='calendar'></div>
</body>
<script src="calender.js"></script>
<script>
    setTimeout(function() {
        window.location.href = 'index.html'; // Replace 'http://example.com' with your home page URL
    },  10000); //  5000 milliseconds =  5 seconds
</script>

</html>